<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>StockPoddis — Loja de Bebidas</title>
</head>

<body>
    <h1>🍻 StockPoddis — Loja de Bebidas</h1>

    <p>
        <a href="{% url 'lista_categorias' %}">📦 Ver por categorias</a> |
        <a href="{% url 'ver_carrinho' %}">🛒 Ver carrinho</a>
    </p>

    {% if produtos %}
    <ul>
        {% for p in produtos %}
        <li>
            <strong>{{ p.nome }}</strong><br />
            Categoria: {{ p.categoria.nome }}<br />
            Preço: R$ {{ p.preco }}<br />
            Estoque: {{ p.estoque_atual }}<br />

            <!-- Link para detalhes -->
            <a href="{% url 'detalhes_produto' p.id %}">Ver detalhes</a>
            <a href="{% url 'adicionar_ao_carrinho' p.id %}">Adicionar ao carrinho</a>
        </li>
        <hr />
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum produto disponível no momento.</p>
    {% endif %}
</body>

</html>