<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ produto.nome }} — StockPoddis</title>
</head>

<body>
    <a href="{% url 'catalogo' %}">← Voltar</a>

    <h1>{{ produto.nome }}</h1>
    <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Estoque:</strong> {{ produto.estoque_atual }}</p>

    <button disabled>Adicionar ao carrinho (próxima etapa)</button>
</body>

</html>